.git/
.gitignore
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

docs/
tests/
scripts/

frontend/node_modules/
frontend/frontend-build/

backend/.env
backend/data/
backend/piper/

/models/
!/models/piper/
!/models/piper/*.onnx
!/models/piper/*.onnx.json

.netlify/
node_modules/
deno.lock
